<form method="POST" class="w-full" enctype="multipart/form-data">
    {% comment %} 
    multipart was used to enable sending files to the backend, here, profile image
    the backend which would otherwise not receive {% endcomment %}
    {% csrf_token %}

    {% comment %} action="{% url 'users:signup' %}" for sign up page and action="{% url 'users:signup' %} for login page "was removed from above cuz user
    is not supposed to be redirected anywhere so it is useless anyways.. {% endcomment %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 ml-2 font-medium text-sm">{{error}}</span>
        {% endfor %}
    {% endif %}


    {% comment %} This does everything same as the 5 divs below it. {% endcomment %}
    {% for field in form %}
        {% include 'mixins/room/room_form_input.html' with field=field %}
    {% endfor %}

    <button class="btn text-center mt-2 text-lg font-medium text-white rounded-md w-full bg-red-500 py-5">{{cta}}</button>

</form>